{%-if include.category-%}
  {%-assign posts = site.categories[include.category]-%}  
{%-else-%}

  {%-assign posts = site.posts-%}
{%-endif-%}

{%-if include.limit and posts.size > include.limit-%}
  {%-assign limit_exceeded = true-%}
{%-else-%}
  {%-assign limit_exceeded = false-%}
{%-endif-%}

{%-for post in site.posts-%}


{%-endfor-%}


{%- if posts.size > 0 -%}
{%-assign limita = '/en'-%}


  <ul>
    {%- for post in posts limit: include.limit -%}
    {%-if post.ptbr -%}
    {%-if page.url == '/en'-%}
      {% assign everything = limita | append: post.permalink %}
    {%-else-%}
      {% assign everything = post.permalink %}
    {%-endif-%}

    <li>
      <a href="{{everything}}">{{ post.name }}</a>
      - 
      <a target="_blank" href="{{ post.link | relative_url }}">{{ 'site' }}</a>
      <!-- <a target="_blank" href="{{ post.github | relative_url }}">{{ 'github' }}</a> -->
      <br>{{ post.data | date: '%Y' }}
      - {{ post.techs }}
      <br>
    </li>
    {%-endif-%}
    {%- endfor -%}
    <!-- {%- if include.show_more and limit_exceeded -%}
      <li><a href="{{ include.show_more_url }}">{{ include.show_more_text | default: "Show more..." }}</a></li>
    {%- endif -%} -->
    <li><a href="{{ include.show_more_url }}">{{ include.show_more_text | default: "Show more..." }}</a></li>
  </ul>
{%- endif -%}
